@model PicoBeer.Domain.Hop

@{
    ViewData["Title"] = Localizer["CreateHop"];
}

<h2>@Localizer["CreateHop"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">@Localizer["Name"]</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">@Localizer["Description"]</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alpha" class="control-label">@Localizer["Alpha"]</label>
                <input asp-for="Alpha" class="form-control" />
                <span asp-validation-for="Alpha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["CreateHop"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["BackToList"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
